<%- include('partials/Header.ejs') %>

<body>
    <!-- partial -->
    
                       

                       
                               
                                   <div class="row col-12 align-items-center"> <div class="col-md-5 " >     
                                    <div >
                                        <div class="row flex-grow">
                                            <div class="col-12 grid-margin stretch-card">
                                                <div class="card card-rounded">
                                                        <div></div>
                                                    <div class="card-body">
                                                        <div class="d-sm-flex justify-content-between align-items-start">
                                                            <div>
                                                                <h4 class="card-title card-title-dash">SALESREPORT</h4>
                                                                <p class="card-subtitle card-subtitle-dash">
                                                                   CHECK THE COMPLETE SALES
                                                                </p>
                                                            </div>
                                                            <div>
                                                                <div class="nav-item dropdown">
                                                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                                                                        <i class="fa fa-click me-lg-2"></i>
                                                                        <span class="d-none d-lg-inline-flex">Change Scale</span>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                                                                        <a onclick="daily()" class="dropdown-item">
                                                                            <h6 class="fw-normal mb-0">Day</h6>
                                                                            <small></small>
                                                                        </a>
                                                                        <hr class="dropdown-divider">
                                                                        <a href="#" class="dropdown-item">
                                                                            <h6 class="fw-normal mb-0">Month</h6>
                                                                            <small></small>
                                                                        </a>
                                                                        <hr class="dropdown-divider">
                                                                        <a onclick="yearly()" class="dropdown-item">
                                                                            <h6 class="fw-normal mb-0">Year</h6>
                                                                            <small></small>
                                                                        </a>
                                                                        <!-- <hr class="dropdown-divider">
                                                                        <a href="#" class="dropdown-item">
                                                                            <h6 class="fw-normal mb-0">Password changed</h6>
                                                                            <small>15 minutes ago</small>
                                                                        </a>
                                                                        <hr class="dropdown-divider">
                                                                        <a href="#" class="dropdown-item text-center">See all notifications</a> -->
                                                                    </div>
                                                                </div>                                                            </div>
                                                        </div>
                                                        <div
                                                            class="d-sm-flex align-items-center mt-1 justify-content-between"
                                                        >
                                                            <!-- <div
                                                                class="d-sm-flex align-items-center mt-4 justify-content-between"
                                                            >
                                                                <h2 class="me-2 fw-bold">$36,2531.00</h2>
                                                                <h4 class="me-2">USD</h4>
                                                                <h4 class="text-success">(+1.37%)</h4>
                                                            </div> -->
                                                            <div class="me-3">
                                                                <div id="marketing-overview-legend"></div>
                                                            </div>
                                                        </div>
                                                        <div  id="chartchange">
                                                            <canvas id="can1"></canvas>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                   <div class="card-body" >
                                    <div>
                                        <h4 class="card-title card-title-dash">REVANUE REPORT</h4>
                                        <p class="card-subtitle card-subtitle-dash">
                                           CHECK THE REVANUE PER MONTH
                                        </p>
                                    </div>
                                    <p> </p>
                                    <canvas id="revanue"> </canvas>
                                   </div></div>
                       </div>        
                        

        

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include('partials/Footer.ejs') %>
    </div>
</body>
