<!-- <div>
<form action="/reset" method="post">
    <label for="">password</label>
    <input type="password" name="pass">
    <label for="">confirm password</label>
    <input type="password" name="conPass">
    <input type="text" value="<%= userid %>" name="user" hidden>
    <input type="submit" value="reset password">
</form>
</div> -->



    

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>YUVA FASIONS</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="/user/css copy/style.css" />
    </head>
    <body style="overflow: hidden;">
        
        <section class="ftco-section" style="padding-top: unset; margin-top: -4%;">
            <div class="container" style="">
                <div class="row justify-content-center" style="padding-top: 25%;">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section"></h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="img" style="background-image: url(images/lock.jpg)"></div>
                            <div class="login-wrap p-4 p-md-5">


                                <form action="/reset" method="post">
                                    <label for="">password</label>
                                    <input type="password" name="pass">
                                    <label for="">confirm password</label>
                                    <input type="password" name="conPass">
                                    <input type="text" value="<%= userid %>" name="user" hidden>
                                    <input type="submit" value="reset password">
                                </form>                         
                                <!-- <p class="text-center">Not a member? <a href="/signup">Sign Up</a></p> -->

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="/user/js copy/jquery.min.js"></script>
        <script src="/user/js copy/popper.js"></script>
        <script src="/user/js copy/bootstrap.min.js"></script>
        <script src="/user/js copy/main.js"></script>
    </body>
</html>