<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOUVA FASIONS</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/style.css" type="text/css">
</head>
    <script src="/user/js/public.js"></script>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                <a href="#">Sign in</a>
                <a href="#">FAQs</a>
            </div>
            <div class="offcanvas__top__hover">
                <span>Usd <i class="arrow_carrot-down"></i></span>
                <ul>
                    <li>USD</li>
                    <li>EUR</li>
                    <li>USD</li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__nav__option">
            <a class="btn" data-toggle="modal" data-target="#searchmodal" onclick="publicSearch()"><img src="/user/img/icon/search.png"  style="width: 25px;" alt=""></a>
            <a href="/wishlist"><img src="/user/img/icon/heart.png"  style="width: 25px;" alt=""></a>
            <% if (user_profile) { %> 
                                       
                <a href="/getcart"><img src="/user/img/icon/cart.png" style="width: 25px; color: #ffffff;" alt=""> <br><span style="width: 30px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-light" id="badge" >  </span></a>
                <% }else{ %>
                <a href="/getcart"><img src="/user/img/icon/cart.png" style="width: 25px;" alt=""> <br><span style="width: 30px;"></span></a>
           <% } %> 
            
            
            <!-- bi bi-person-square --> 
            <a href="" class="btn" data-toggle="modal" data-target="#exampleModalCenter"><img src="/user/img/icon/profile.png" style="width: 35px;" alt=""> <span style="width: 30px;"></span><i class="bi bi-person-square"></i></a>
            <!-- <div class="price">$0.00</div> -->
        </div>


        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        
        </div>
        <div style="padding-left: 15px; padding-right: 15px;" >
            <div class="row" style="align-items: center; height: 120px;">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="/"><div  style="height: 120px;background-image: url('/user/img/yuvafasions.png');background-position: center;background-size: cover;background-repeat: no-repeat;width: 252px;"></div>
                            </a>
                    </div>
                </div>
                <!-- <img src="/user/img/yuvafasions.png" alt="logo" style="vertical-align: left; float: left;"/> -->
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu" >
                        <ul>
                            <li class="active"><a href="/">Home</a></li>
                            <li> <a href="/shopnow">ShopNow</a></li>
                            <!-- if(user)                         else<a href="/login"></a> -->
                            <li><a href="/about">About Us</a></li>
                            <!-- <li><a href="#">Pages</a>.
                                0
                                <ul class="dropdown">
                                    <li><a href="./about.html">About Us</a></li>
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shopping-cart.html">Shopping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <!-- <li><a href="./blog.html">Blog</a></li> -->
                            <li><a href="/contactus">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3" >
                    <div class="header__nav__option d-md-flex align-items-center "  >
                        <a class="btn" data-toggle="modal" data-target="#searchmodal" onclick="publicSearch()"><img src="/user/img/icon/search.png"  style="width: 25px;" alt=""></a>
                        <a href="/wishlist"><img src="/user/img/icon/heart.png"  style="width: 25px;" alt=""></a>
                        <% if (user_profile) { %> 
                                                   
                            <a href="/getcart"><img src="/user/img/icon/cart.png" style="width: 25px; color: #ffffff;" alt=""> <br><span style="width: 30px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-light" id="badge" >  </span></a>
                            <% }else{ %>
                            <a href="/getcart"><img src="/user/img/icon/cart.png" style="width: 25px;" alt=""> <br><span style="width: 30px;"></span></a>
                       <% } %> 
                        
                        
                        <!-- bi bi-person-square --> 
                        <a href="" class="btn" data-toggle="modal" data-target="#exampleModalCenter"><img src="/user/img/icon/profile.png" style="width: 35px;" alt=""> <span style="width: 30px;"></span><i class="bi bi-person-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars">
                
            </i></div>
        </div>
        
          
    </header><br>
    

    <!-- Header Section End -->
